@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --del-key-background: hsl(225, 21%, 49%);
  --del-key-shadow: hsl(224, 28%, 35%);
  --toggle-circle-color: hsl(6, 63%, 50%);
  --equals-key-background: hsl(6, 63%, 50%);
  --equals-key-shadow: hsl(6, 70%, 34%);
  --dark-text: hsl(221, 14%, 31%);
  --light-text: hsl(0, 0%, 100%);

  --switch-position: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
  font-family: "Spartan", sans-serif;
}

main {
  height: 80%;
  width: 92%;
}

#head {
  background-color: var(--main-background);
  color: var(--light-text);
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: 3rem;
}

#toggle-container {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  /* width: 30%; */
  text-transform: uppercase;
  font-size: 1rem;
  align-items: flex-end;
  padding-bottom: 1.2rem;
}

#theme-toggle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one two three"
    "switch switch switch";
  justify-items: center;
}

#toggle-switch {
  grid-area: switch;
  background-color: var(--toggle-background);
  width: 6rem;
  height: 2.2rem;
  border-radius: 2rem;
  padding: 0.3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 0;
}

#switch {
  background-color: var(--toggle-circle-color);
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  grid-column-start: var(--switch-position);
}

#theme-1 {
  grid-area: one;
}
#theme-2 {
  grid-area: two;
}
#theme-3 {
  grid-area: three;
}

#screen {
  background-color: var(--screen-background);
  color: var(--light-text);
  width: 100%;
  height: 9rem;
  border-radius: 1rem;
  padding: 0 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}

#keypad {
  background-color: var(--keypad-background);
  width: 100%;
  height: 42rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.2rem;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--key-background);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2.5em;
  box-shadow: inset 0 -0.5rem 0.05rem var(--key-shadow);
  color: var(--dark-text);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.key:active {
  box-shadow: none;
  transform: translateY(0.1rem);
}

.key-action {
  background-color: var(--del-key-background);
  box-shadow: inset 0 -0.5rem 0.05rem var(--del-key-shadow);
  color: var(--light-text);
  font-size: 1.8rem;
}

#key-reset {
  grid-row-start: 5;
  grid-column: 1 / span 2;
}

#key-equals {
  grid-row-start: 5;
  grid-column: 3 / span 2;
  background-color: var(--equals-key-background);
  box-shadow: inset 0 -0.5rem 0.05rem var(--equals-key-shadow);
  color: var(--light-text);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  color: var(--light-text);
  background-color: var(--keypad-background);
}
.attribution a {
  color: var(--equals-key-background);
  text-decoration: none;
}

@media (min-width: 550px) {
  main {
    height: 500px;
    width: 500px;
  }

  #keypad {
    gap: 2rem;
  }
}
